# Milvus
/Milvus/volumes/
/Milvus/*
!/Milvus/examples.py
!/Milvus/standalone_embed.sh

# Data files
*.jsonl
*.csv
*.pkl
*.pickle
*.parquet
*.db
*.sqlite
*.bin
*.pb

# Compressed files
*.gz
*.zip
*.tar.gz
*.7z
*.rar
*.tgz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc

# Logs and others
*.log
log
**/raw_data/

.env

data/qa_50000.jsonl

/volumes/*data/qa_50000.jsonl
