# Milvus
/Milvus/volumes/
/Milvus/*
!/Milvus/examples.py
!/Milvus/standalone_embed.sh

# Data files
*.jsonl
*.csv
*.pkl
*.pickle
*.parquet
*.db
*.sqlite
*.bin
*.pb

# Compressed files
*.gz
*.zip
*.tar.gz
*.7z
*.rar
*.tgz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc

# Logs and others
*.log
log
**/raw_data/

.env

# 数据文件路径规范化，统一使用绝对路径格式
/data/*.jsonl

# Milvus 向量数据库存储路径
/volumes/*
